html {
  box-sizing: border-box;
  background-color: #222;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
* {
  margin: 0;
  padding: 0;
}
body {
  background: #1993c7;
  color: #fff;
  font-family: "Roboto", sans-serif;
}
header {
  background: #fff;
  padding: 20px;
}
header h1 {
  color: #444;
  text-align: center;
  font-weight: 100;
}
